::ng-deep .p-dropdown-label {
    color: black; /* Change label text color */
  }
  ::ng-deep .p-dropdown .p-dropdown-label {
    color: white !important; /* Force the label text color to white */
  }
  
  ::ng-deep .p-dropdown .p-inputtext {
    color: white !important; /* Force the input text color to white */
  }