.profile:hover {
cursor: pointer;
}
.custom-overlay-panel ::ng-deep .p-overlaypanel-content {
    background-color: #381c1c1a /* Change background color */
    /* Other styles */
  }
  .list {
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin: 0;
    list-style: none;
  }
  .custom-dialog .ui-dialog {
    width: 50vw; /* Set the width of the dialog */
    background: rgba(0, 0, 0, 0.8); /* Black background with opacity for the whole dialog */
}

.custom-dialog .ui-dialog .ui-dialog-titlebar {
    background: rgba(255, 0, 0, 0.5); /* Red transparent background for the title bar */
    color: white; /* White text for the title */
}

.custom-dialog .ui-dialog .ui-dialog-content {
    background: rgba(0, 0, 0, 0.7); /* Slightly different shade for the content if desired */
    color: white; /* White text for the content */
}

.custom-dialog .ui-dialog .ui-dialog-footer {
    background: rgba(0, 0, 0, 0.8); /* Same background for the footer */
    border-top: none; /* Remove top border if it exists */
}

.custom-content {
    max-height: 300px; /* Set a max height for the content area */
    overflow-y: auto; /* Add scrollbar if content exceeds max height */
}

.custom-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right; /* Align the buttons to the right */
}

 
  .list > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
  }
  .transactions{
    background-color: black;
  }
  
  .list > li:last-child {
    border-bottom: none;
  }
  .label {
    color: #f96332;
    display: inline-block;
    width: 100px; /* Adjust this width as needed for your layout */
  }